.section__headline {
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 20px;
  margin: 0 0 20px 0;
}

@media only screen and (min-width: $mobile)  {
  .section__headline {
    line-height: 36px;
    text-align: center;
    margin: 0 0 30px 0;
  }
}